# Verification Process
Currently the repository's security policy amounts to checking that the working tree satisfies gittuf policy. This check can be carried out by anyone by running the following commands:
